/* Universal */
* {
  box-sizing: border-box;
}

/* || ID */
#banner {
  height: 35%;
  margin: 0em auto;
  display: block;
  text-align: center;
  /*image-rendering: pixelated;*/
}
#bannerDay {
  height: 7%;
  margin: 0.625em auto;
  display: block;
  text-align: center;
  /*image-rendering: pixelated;*/
}
/* || Class */
.headerFooter {
  font-size: 1rem;
  padding: .5rem 0;
  text-align: center;
  height: 22.5%;
}
.bordaSecao {
	width: 100%;
	border-top: .2rem;
	border-color: #ff0;
	margin: .5rem 0;
}
/* || Element */
html {
  font-size: 10px;
}
body {
  height: 100vh;
	border: .1rem solid #ff0;
	background: #000;
	font-family: arial;
  color: #fff;
}
a {
	color: inherit;
}
p {
  margin: 0;
  padding-bottom: .5rem;
}
button {
	width: 12em;
	height: 2.75em;
	background-color: #000;
	border-color: #ff0;
	border-width: 0.25em;
	border-radius: 0.25em;
	color: #fff;
	font-size: 0.5em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
button:hover {
	filter: brightness(0.7);
}
main {
  height: 55%;
  text-align: center;
  padding: 1rem 0;
}
main>button, main>section {
  display: inline-block;
}
main>a {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 12.5px;
  font-size: 1.4rem;
  border: .25rem solid #ff0;
  text-decoration: none;
	color: #fff;
}
main>section {
  width: 50%;
  font-size: 1.2rem;
}
main section p {
	width: 75%;
  margin: 0 auto;
}
/* Strong ≠ Bold (Accessibility) */
strong {
  font-weight: 900;
}
/* Em ≠ Italic (Accessibility) */
em {
  font-style: italic;
}
/* || Other */
@media screen and (min-width: 768px) {
  
}